<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header"></div>
        <a class="navbar-brand" href="/">SCHEDULER</a>
    </div>
</nav>

<div class="container">
    <form class="login-form" {{action 'login' on='submit'}}>
        <fieldset>
            <h2 class="centered-text">Login to your Exeter Account</h2>
            {{#if loginError}}
            <div class="alert alert-dismissable alert-danger">
                <button class="close" type="button" {{action 'close'}}>×</button>
                <strong>Oh snap!</strong> We didn't recognize your username and password. Please try again. If this error occurs repeatedly, it may be that LionLinks is down.
            </div>
            {{/if}}
            {{#if loading}}
                <h3 class="centered-text">Loading. This might take a while.</h3>
            {{else}}
                <div>
                    {{input class="form-control" value=username type="text" placeholder="Email"}}
                    {{input class="form-control" value=password type="password" placeholder="Password"}}
                </div>
                <button class="btn btn-standard btn-float" type="submit">LOGIN</button>
            {{/if}}
        </fieldset>
    </form>
</div>
